* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  /* scroll-padding-top: 20px; */
  scroll-behavior: smooth;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  color: var(--text-color);
  font-family: "Lexend", serif;
  line-height: 1;
  overflow-x: hidden;
}

:root {
  --light-green-color: #cfffd1;
  --green-color: #38bb7a;
  --dark-green-color: #1ab165;
  --yellow-color: #fcfccd;
  --md-yellow-color: #cfcf15;
  --dark-yellow-color: #adad16;
  /* --testimonial-bg: #ffffff; */
  --dark-red-color: #c31b2c;
  --md-red-color: #e03041;
  --light-red-color: #f3acb3;
  --light-blue-color: #a1d3ed;
  --md-blue-color: #4ca5d5;
  --dark-blue-color: #268ec6;
  --light-text-color: #606470;
  --md-text-color: #434749;
  --text-color: #303841;
  --bg-color: #f7f7f7;
  --dark-bg-color: #ebebeb;
}

.container {
  /* 1140px */
  max-width: 140rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: 45fr 8fr 45fr;
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}

.grid--center-v {
  align-items: center;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  letter-spacing: -0.5px;
  text-transform: capitalize;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
  color: var(--md-text-color);
}

.heading-quaternary {
  font-size: 2.3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
  font-weight: 500;
  letter-spacing: 1.2px;
  color: var(--light-text-color);
}

.margin-left-md {
  margin-left: 3.2rem !important;
}

.margin-bottom-sm {
  margin-bottom: 2.4rem;
}

.margin-bottom-md {
  margin-bottom: 4.8rem;
}

.margin-bottom-lg {
  margin-bottom: 9.8rem !important;
}

.margin-right-md {
  margin-right: 3.2rem !important;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;

  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;

  /* Only necessary for .btn */
  border: none;
  cursor: pointer;
  font-family: inherit;

  /* Put transition on original "state" */
  /* transition: background-color 0.3s; */
  transition: all 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: var(--green-color);
  color: var(--bg-color);
}

.btn--full:hover,
.btn--full:active {
  box-shadow: inset 0 0 0 3px var(--green-color);
  background-color: var(--yellow-color);
  color: var(--green-color);
}
